@charset "utf-8";

html {
  font-size: 62.5%;
}
.site-name {
  margin: 30px auto;
  color: #446;
  font-size: 4.0rem;
  font-style: italic;
  font-family: Georgia, serif;
  letter-spacing: 1px;
  text-align: center;
}
.img-type-box {
  padding-top: 7px;
}
.img-type-box label {
  padding-left: 3px;
  margin-right: 10px;
}
.image-size-label {
  padding-right: 3px;
}
.font-size-value-box,
.font-size-range-box {
  padding-top: 7px;
}
.thumb {
  margin: 20px auto 60px;
  text-align: center;
}
.copyright {
  color: #999;
  font-size: 1.0rem;
  font-style: italic;
  font-family: Georgia, serif;
  text-align: center;
}

@media only screen and (max-width: 640px) {
  .site-name {
    margin: 15px auto;
    font-size: 2.0rem;
  }
  .btn-create {
    width: 100%;
  }
  .thumb img {
    max-width: 100%;
    height: auto;
  }
}
