<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">
<title>Lorem Image Generator</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="site-name">Lorem Image Generator</h1>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label" for="s">テキスト</label>
          <div class="col-sm-9 col-xs-12">
            <input class="form-control" type="text" name="s" id="s" value="Sample Image" size="40">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label" for="w">幅</label>
          <div class="col-sm-4 col-xs-12">
            <input class="form-control" type="number" name="w" id="w" value="180" size="5" min="1" pattern="^[1-9][0-9]*$">
          </div>
          <label class="col-sm-1 col-xs-12 control-label" for="h">高さ</label>
          <div class="col-sm-4 col-xs-12">
            <input class="form-control" type="number" name="h" id="h" value="120" size="5" min="1" pattern="^[1-9][0-9]*$">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label">画像タイプ</label>
          <div class="col-sm-4 col-xs-12 img-type-box">
            <input type="radio" name="t" id="t-jpg" value="jpg" checked>
            <label for="t-jpg">JPEG</label>
            <input type="radio" name="t" id="t-png" value="png">
            <label for="t-png">PNG</label>
            <input type="radio" name="t" id="t-gif" value="gif">
            <label for="t-gif">GIF</label>
          </div>
          <div class="col-sm-5 col-xs-12">
            <input type="checkbox" name="p" id="p" value="1">
            <label class="control-label" for="p">画像サイズ(幅x高さ)を表示</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 col-xs-12 control-label" for="fs">フォントサイズ</label>
          <div class="col-sm-7 col-xs-12 font-size-range-box">
            <input type="range" name="fs" id="fs" value="14" min="10" max="50" step="1">
          </div>
          <div class="col-sm-2 col-xs-12 font-size-value-box">
            <span id="fs-out">14</span> (10 ~ 50)
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9 col-sx-offset-0 col-xs-12">
            <input class="btn btn-primary btn-create" type="button" id="btn-create" value="画像作成">
          </div>
        </div>
      </div>
      <div class="thumb" id="thumb"></div>
      <hr>
      <p class="copyright">Copyright(c) Serendip</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="assets/jquery.min.js"></script>
<script type="text/javascript" src="assets/script.js"></script>
</body>
</html>
